@import '../@theme/styles/themes';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

:root {
  --font-blue : rgb(12, 162, 255);
}

.disabled {
  pointer-events: none;
}

@include nb-install-component() {

  ::ng-deep router-outlet + * {
    display: block;
    animation: fade 1s;

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }
}
