<div class="w-100 d-flex justify-content-center mt-5" *ngIf="circuitData">
    <nb-card class="mt-5" style="max-height: 35rem; min-width: 90rem;">
        <nb-card-header class="d-flex">
            <h5 class="w-100">{{ dialogData?.title }}</h5>
            <div class="flex-shrink-1">
                <button nbButton status="danger" size="tiny" (click)="closeDialog()">
                    <nb-icon icon="close-outline"></nb-icon>
                </button>
            </div>
        </nb-card-header>
        <nb-card-body>  
            <form #proposalForm="ngForm" (ngSubmit)="closeDialog(proposalForm.value)">
                <h6>IN</h6>

                <section >
                    <nb-card style="max-height: 15rem;">
                        <nb-card-body class="d-flex">
                            <div class="w-100">
                                <span class="text-secondary">Circuit ID</span>
                                <nb-list>
                                    <nb-list-item 
                                    *ngFor="let circuit of circuitData; let index = index;" 
                                    style="max-height: .7rem;"
                                    >
                                        <span
                                        #circuitcell
                                        style="cursor : pointer"
                                        [ngStyle]="{'color' : selectionCircuit == index ? '#0492c2' : 'black'}"
                                        (mouseover)="circuitcell.style.color = '#0492c2'"
                                        (mouseout)="
                                        selectionCircuit == index
                                        ? circuitcell.style.color = '#0492c2' 
                                        : circuitcell.style.color = 'black'"
                                        (click)="selectCircuit(index); ">
                                            {{ circuit.piping_circuit_id }}
                                        </span>
                                    </nb-list-item>
                                </nb-list>
                            </div>
                            <div class="w-100 ms-4">
                                <span class="text-secondary">Piping ID</span>
                                <nb-list>
                                    <nb-list-item *ngFor="let piping of pipingId; let index = index;" style="max-height: .7rem;">
                                        <span
                                        #pipingcell
                                        style="cursor : pointer"
                                        [ngStyle]="{'color' : selectionPipe == index ? '#0492c2' : 'black'}"
                                        (mouseover)="pipingcell.style.color = '#0492c2'"
                                        (mouseout)="
                                        selectionPipe == index
                                        ? pipingcell.style.color = '#0492c2' 
                                        : pipingcell.style.color = 'black'"
                                        (click)="selectPipe(index, piping)">
                                            {{ piping.piping_id }}
                                        </span>
                                    </nb-list-item>
                                </nb-list>
                            </div>

                            <div class="w-100 ms-4">
                                <span class="text-secondary">Choosen Pipe</span>
                                <nb-list>
                                    <nb-list-item 
                                    *ngFor="let piping of choosenPipe; let index = index;" style="max-height: .7rem;"
                                    >
                                        <span
                                        #pipingcell
                                        >
                                            {{ piping?.piping_id }}
                                        </span>
                                    </nb-list-item>
                                </nb-list>
                            </div>
                        </nb-card-body>
                    </nb-card>

                    <div >
                        <div class="d-flex justify-content-evenly">
                            <div>
                                <label for="dateInService" class="mb-1 d-block">Proposal ID</label>
                                <input 
                                fullWidth 
                                nbInput 
                                fieldSize="small" 
                                name="proposal_id"
                                [ngModel]="dialogData?.data?.proposal_id"
                                > 
                            </div>

                            <div>
                                <label for="dateInService" class="mb-1 d-block">Inspection Planned Date</label>
                                <input 
                                fullWidth 
                                nbInput 
                                fieldSize="small" 
                                [nbDatepicker]="inspection_planned_date"
                                name="inspection_planned_date"
                                [ngModel]="dialogData?.data?.inspection_planned_date"
                                > 
                                <nb-datepicker #inspection_planned_date></nb-datepicker>
                            </div>

                            <!-- <div>
                                <label for="dateInService" class="mb-1 d-block">Recomendation Date</label>
                                <input 
                                fullWidth 
                                nbInput 
                                fieldSize="small" 
                                [nbDatepicker]="recomendation_date"
                                name="recomendation_date"
                                ngModel
                                disabled="true"
                                > 
                                <nb-datepicker #recomendation_date></nb-datepicker>
                            </div> -->

                        </div>
        
                        <div class="w-100">
                            <label for="remarks" class="d-block">Remarks</label>
                            <textarea 
                            nbInput 
                            [ngModel]="dialogData?.data?.remarks"
                            name="remarks" 
                            id="remarks" 
                            rows="2" 
                            fullWidth
                            ></textarea>
                        </div>
                    </div>
                </section>

                <h6 class="mt-5">Inspection Method</h6>
                <section class="row">
                    <div class="col-12">
                        <mat-form-field class="my-2">
                            <mat-label>Inspection Type</mat-label>
                            <mat-select>
                                <mat-option [value]="item" *ngFor="let item of [
                                    'Instrusive',
                                    'Non Instrusive',
                                ]"
                                (click)="selectInspectionType(item)"
                                >
                                {{ item }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                    <div class="col-6 p-1">
                        <nb-card>
                            <nb-card-body class="d-flex">
                                <div class="w-50"> 
                                    <span class="text-secondary">Inspection Method</span>
                                    <nb-list>
                                        <nb-list-item 
                                            *ngFor="let method of inspectionMethod; let index=index;" 
                                            style="max-height: .7rem; cursor: pointer;">
                                            <span
                                            #methodcell
                                            style="cursor : pointer"
                                            [ngStyle]="{'color' : selectionMethod == index ? '#0492c2' : 'black'}"
                                            (mouseover)="methodcell.style.color = '#0492c2'"
                                            (mouseout)="
                                            selectionMethod == index
                                            ? methodcell.style.color = '#0492c2' 
                                            : methodcell.style.color = 'black'"
                                            (click)="selectMethod(index)"
                                            >
                                                {{ method?.name }}
                                            </span>
                                        </nb-list-item>
                                    </nb-list>
                                </div>
    
                                <div class="w-100">
                                    <span class="text-secondary">Inspection Technique</span>
                                    <nb-list>
                                        <nb-list-item 
                                            *ngFor="let technique of inspectionMethod[selectionMethod]?.children; let index = index;" 
                                            style="max-height: .7rem;"> 
                                            <span 
                                            #techniquecell
                                            style="cursor : pointer"
                                            [ngStyle]="{'color' : selectionTechnique == index ? '#0492c2' : 'black'}"
                                            (mouseover)="techniquecell.style.color = '#0492c2'"
                                            (mouseout)="
                                            selectionTechnique == index 
                                            ? techniquecell.style.color = '#0492c2' 
                                            : techniquecell.style.color = 'black'"
                                            (click)="selectTechnique(index, technique.name)"
                                            >
                                                {{ technique?.name }}
                                            </span>
                                        </nb-list-item>
                                    </nb-list>
                                </div>
                            </nb-card-body>
                        </nb-card>
                    </div>

                    <div class="col-6 p-1">
                        <nb-card style="max-height: 24rem;">
                            <nb-list>

                                <nb-list-item 
                                *ngFor="let method of inspectionMethodList; let index = index;" 
                                style="cursor: pointer;" 
                                class="w-100"
                                >
                                    <div class="d-flex justify-content-between w-100 row"> 
                                        <span class="col-1"
                                        (click)="activationMethod(index)"
                                        >
                                            <div class="d-flex align-items-center">
                                                <span>
                                                    {{ index + 1 }}
                                                </span>
                                                <nb-icon 
                                                [icon]=" method?.active ? 'radio-button-on-outline' : 'radio-button-off-outline' " 
                                                style="font-size: 20px;" 
                                                class="align-self-center ms-2"
                                                [status]=" method?.active ? 'success' : 'basic' "
                                                ></nb-icon>
                                            </div>
                                        </span>
                                        <span class="col-2">
                                            {{ method?.type }}
                                        </span>
                                        <span class="col-2" *ngIf="method?.method">
                                            + {{ method?.method }}
                                        </span>
                                        <span class="col-2" *ngIf="method?.technique">
                                            + {{ method?.technique }}
                                        </span>

                                        <input type="number" id="coverage{{ index }}" nbInput min="0" max="100" [(ngModel)]="method.coverage" fieldSize="tiny" [ngModelOptions]="{standalone: true}" name="coverage" class="col-2">

                                        <div class="col-1 d-flex justify-content-center align-items-center">
                                            <button nbButton status="danger" size="tiny" (click)="deleteMethod(index)">
                                                <nb-icon icon="trash-2-outline">
                                                </nb-icon>
                                            </button>
                                        </div>
                                    </div>
                                </nb-list-item>



                              </nb-list>
                        </nb-card>
                    </div>
                </section>

                <button nbButton status="success" size="small" [disabled]="!choosenPipe.length" class="w-100">{{ dialogData?.title }}</button>
            </form>
        </nb-card-body>
    </nb-card>
</div>