<nb-card>
    <nb-card-body>
        <button 
            nbButton 
            outline
            size="small" 
            status="primary"
            [disabled]="(button?.name == 'Export' || button?.name == 'Print') && !tableData?.length"
            class="m-2"
            *ngFor="let button of [
                { name : 'New', icon : 'plus-outline' },
                { name : 'Print', icon : 'printer-outline' },
            ]"
            (click)="
                    button.name == 'New'        ? addProposal()
                :   button.name == 'Print'      ? pdfProposals.generateData(tableData)
                :   null
                    "
            >
                <nb-icon [icon]="button.icon" [pack]="button.pack ?? 'eva' " class="m-1"></nb-icon>
                <span>{{ button.name }}</span>
            </button>
    </nb-card-body>
</nb-card>

<ngx-mat-table 
    [tableHeader]="{ title : 'Proposal' }"
    [columnDetails]="columnDetails"
    [tableData]="tableData"
></ngx-mat-table>

<pdf-proposal-dashboard></pdf-proposal-dashboard>