<nb-card>
    <nb-card-header class="d-flex justify-content-between" *ngIf="tableHeader.show ?? true">
        <div>
            <h5>{{ tableHeader?.title }}</h5>
            <mat-form-field>
                <mat-label>Hit Enter To Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
        <div *ngFor="let filter of tableHeader?.filter" class="row">
            <div class="col">{{ filter?.name }}</div>
            <div class="col"> 
                <nb-select [placeholder]="filter?.name" size='small' class="mx-5" status="primary">
                    <nb-option 
                    [value]="option" 
                    *ngFor="let option of filter?.value"
                    (click)="onClickTable.emit({data : option, title : filter?.title})"
                    >{{ option }}</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>
    
    <nb-card-body class="row">
        <table style="width: 100%; box-shadow: none;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container *ngFor="let column of columnDetails" [matColumnDef]="column.prop">
                <!-- Checkbox Column -->
                <div *ngIf="column.type == 'select'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : '60px'} ">
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()" 
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </div>

                <!-- Column type position -->
                <div *ngIf="column.type == 'position'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column?.head }} </th>
                    <td mat-cell *matCellDef="let element; let index = index;"> {{ index + 1 }} </td>
                </div>

                <!-- Column type text -->
                <div *ngIf="column.type == 'text'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        {{element[column.prop] || '-'}}
                    </td>
                </div>

                <!-- Column type Button -->
                <div *ngIf="column.type == 'button'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex justify-content-between">
                            <button *ngFor="let button of column.button" nbButton size="tiny" status="basic" (click)="onClickTable.emit({data : element, title : button.title})">
                                <nb-icon [icon]="button.icon" [status]="button.status"></nb-icon>
                            </button>
                        </div> 
                    </td>
                </div>

                <!-- Column type Check -->
                <div *ngIf="column.type == 'check'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="d-flex justify-content-center w-50">
                            <nb-checkbox (checkedChange)="toggle($event)"></nb-checkbox>
                        </div>
                    </td>
                </div>

                <!-- Column type Navigate to -->
                <div *ngIf="column.type == 'navto'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="text-primary" style="cursor: pointer;" (click)="navigateTo(column.nav, element)">{{element[column.prop] || '-'}}</span>
                    </td>
                </div>

            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>

        <mat-paginator *ngIf="tableFooter.show ?? true"
            [length]="resultsLength" 
            [pageSize]="tableFooter.pageSize ?? 30" 
            aria-label="Select page of GitHub search results">
        </mat-paginator>
        
    </nb-card-body>
</nb-card>