<nb-card>
    <nb-card-header class="d-flex justify-content-between" *ngIf="tableHeader?.show ?? true">
        <div>
            <h5>{{ tableHeader?.title }}</h5>
            <mat-form-field>
                <mat-label>Hit Enter To Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>
        <div *ngFor="let filter of tableHeader?.filter" class="row">
            <div class="col">{{ filter?.name }}</div>
            <div class="col"> 
                <nb-select [placeholder]="filter?.name" size='small' class="mx-5" status="primary" [selected]="filter?.selection">
                    <nb-option 
                    [value]="option" 
                    *ngFor="let option of filter?.value"
                    (click)="onClickTable.emit({data : option, title : filter?.title})"
                    >{{ option }}</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-header>
    
    <nb-card-body class="row">
        <table style="width: 100%; box-shadow: none;" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container *ngFor="let column of columnDetails" [matColumnDef]="column.prop">
                <!-- Checkbox Column -->
                <div *ngIf="column.type == 'select'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : '60px'} " >
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [aria-label]="checkboxLabel()"
                                    (click)="selectTableRow();"
                                    >
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox 
                                    (click)="$event.stopPropagation(); selectTableRow();" 
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)"
                                    [aria-label]="checkboxLabel(row)">
                        </mat-checkbox>
                    </td>
                </div>

                <!-- Column type position -->
                <div *ngIf="column.type == 'position'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} " mat-sort-header> {{ column?.head }} </th>
                    <td mat-cell *matCellDef="let element; let index = index;"> {{ index + 1 }} </td>
                </div>

                <!-- Column type text -->
                <div *ngIf="column.type == 'text'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} " mat-sort-header> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element" [attr.colspan]="element?.colspan" 
                    [ngStyle]="{ 
                        'font-weight' : element?.bold ?  'bold' : '',
                        'color' : element[column.color]
                    }"> 
                        {{element[column.prop] || '-'}}
                    </td>
                </div>

                <!-- Column type Button -->
                <div *ngIf="column.type == 'button'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element">
                        <div class="d-flex justify-content-between">
                            <button *ngFor="let button of column.button" nbButton size="tiny" status="basic" (click)="onClickTable.emit({data : element, title : button.title})">
                                <nb-icon [icon]="button.icon" [status]="button.status"></nb-icon>
                            </button>
                        </div> 
                    </td>
                </div>

                <!-- Column type Check -->
                <div *ngIf="column.type == 'check'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <div class="d-flex justify-content-center w-50 m-2" *ngIf="element.show ?? true">
                            <nb-checkbox 
                            (checkedChange)="toggle($event)" 
                            [checked]="element[column.prop]" 
                            [(ngModel)]="element[column.prop]"
                            ></nb-checkbox>
                        </div>
                    </td>
                </div>

                <!-- Column type Navigate to -->
                <div *ngIf="column.type == 'navto'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} " mat-sort-header> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <span class="text-primary" style="cursor: pointer;" (click)="navigateTo(column.nav, element)">{{element[column.prop] || '-'}}</span>
                    </td>
                </div>

                <div *ngIf="column.type == 'drop-down'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element"> 
                        <mat-form-field class="my-2" *ngIf="element.show ?? true">
                            <mat-label>{{ column.head }}</mat-label>
                            <mat-select [(ngModel)]="element[column.prop]">
                            <mat-option [value]="item" *ngFor="let item of column.value">{{ item }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                </div>

                <div *ngIf="column.type == 'editable text'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element" (dblclick)="onClickTable.emit({data : element, title : 'edit row'})"> 
                        <input type="text" nbInput fieldSize="small" class="m-1" [(ngModel)]="element[column.prop]" *ngIf="element.show ?? true">
                    </td>
                </div>

                <div *ngIf="column.type == 'editable date'">
                    <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : column.width} "> {{ column.head }} </th>
                    <td mat-cell *matCellDef="let element" (dblclick)="onClickTable.emit({data : element, title : 'edit row'})"> 
                        <input type="text" nbInput fieldSize="small" autocomplete="off" [nbDatepicker]="datepicker" class="m-1" [(ngModel)]="element[column?.prop] " *ngIf="element.show ?? true">
                        <nb-datepicker #datepicker></nb-datepicker>
                    </td>
                </div>

            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                (click)="selection.toggle(row)">
            </tr>
        </table>

        <mat-paginator *ngIf="tableFooter?.show ?? true"
            [length]="resultsLength" 
            [pageSize]="tableFooter.pageSize ?? 30" 
            aria-label="Select page of GitHub search results">
        </mat-paginator>
        
    </nb-card-body>
</nb-card>