<div class="container" style="display: none;">
    <div id="pdfTable" #pdfCircuit>
        <h5 style="width: 100%; margin: 0 0 1rem 0; color: #5588EE;">
            Piping Circuits
        </h5>
        <table 
            data-pdfmake="{'widths':[ '*', '*', '*', '*' ], 'layout' : 'exampleLayout'}" 
            [style]="{'font-size' : '10px'}"
            >
                <tr>
                    <th *ngFor="let head of assetsHead"> <b style="font-weight: bold;">{{ head.name }}</b> </th>
                </tr>
                <div *ngFor="let data of tableData">
                    <tr>
                        <td *ngFor="let head of assetsHead"> {{ data[head?.props] }}  </td>
                    </tr>
                    <tr>
                        <td colspan="1">
                            <b style="color: darkcyan;">Notes</b>
                        </td>
                        <td colspan="3">
                            {{ data.notes }}
                        </td>
                    </tr>
                </div>
        </table>
    </div>
</div>
