<div class="container" style="display: none;">
    <div id="Thickness" #pdfThickness>
        <h5 style="width: 100%; margin: 0 0 1rem 0; color: #5588EE;">Thickness</h5>
        <table 
        *ngIf="tableData"
        [style]="tableStyle"
        data-pdfmake='{"widths":["auto", "auto", "auto", "auto", "auto", "auto", "auto", "auto", "auto", "auto", "auto"], "layout" : "exampleLayout"}'
        >
            <tr>
                <th *ngFor="let head of pdfHead"> 
                    <b style="font-weight: bold;">{{ head.name }}</b> 
                </th>
            </tr>
            <tr *ngFor="let data of tableData">
                <td *ngFor="let head of pdfHead"> {{ data?.[head.props] }} </td>
            </tr>
    </table>
    </div>
</div>
