<nb-card>
    <nb-card-header class="d-flex justify-content-between">
        <div>
            <h5>CML Trend</h5>
            <mat-form-field>
                <mat-label>Hit Enter To Search</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col">Class</div>
            <div class="col">
              <nb-select placeholder="Class" class="mx-5" status="primary" size="small">
                <nb-option 
                (click)="filterByClass(option)"
                [value]="option"
                *ngFor="let option of ['All',1,2,3,4]"
                >{{ option }}</nb-option>
              </nb-select>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-3">
                <table 
                style="width: 100%; box-shadow: none;" 
                mat-table [dataSource]="dataSource" 
                *ngIf="selectionData"
                class="mat-elevation-z8">
                    <!-- Position Column -->
                    <ng-container matColumnDef="piping_id">
                        <th mat-header-cell *matHeaderCellDef [ngStyle]=" {'width' : '40px'} "> Piping ID </th>
                        <td mat-cell *matCellDef="let element" #nameCell
                            style="cursor : pointer"
                            [ngStyle]="{'color' : selectionData.piping_id == element.piping_id ? '#0492c2' : 'black'}"
                            (mouseover)="nameCell.style.color = '#0492c2'"
                            (mouseout)="selectionData.piping_id == element.piping_id 
                            ? nameCell.style.color = '#0492c2' 
                            : nameCell.style.color = 'black'"
                            (click)="showData(element)"
                        > {{element.piping_id}} </td>
                    </ng-container>
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
                        (click)="selection.toggle(row)">
                    </tr>
                </table>

                <mat-paginator 
                    [pageSize]="30" 
                    aria-label="Select page of GitHub search results">
                </mat-paginator>
            </div>

            <div class="col-9">
                <ngx-thickness-chart  class="my-2"></ngx-thickness-chart>
                <ngx-corrosionR-chart class="my-2"></ngx-corrosionR-chart>
                <ngx-remaining-chart  class="my-2"></ngx-remaining-chart>
            </div>
        </div>
    </nb-card-body>
</nb-card>
