<nb-card>
    <nb-card-body>
        <button 
            nbButton 
            outline
            size="small" 
            status="primary"
            [disabled]="!tableData?.length"
            (click)="pdfThickness.generateData(this.tableData)"
            >
                <nb-icon icon="printer-outline" class="m-1"></nb-icon>
                <span>Print</span>
            </button>
    </nb-card-body>
</nb-card>

<nb-alert status="danger" *ngIf="!tableData.length" >Data Not Available. Please add asset.</nb-alert>
<ngx-mat-table 
    *ngIf="tableData.length"
    [tableHeader]="tableHeader"
    [columnDetails]="columnDetails"
    [tableData]="tableData"
    (onClickTable)="onClickTable($event.data, $event.title)"
></ngx-mat-table>

<thickness-pdf></thickness-pdf>

